.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
!node_modules/edn-data/**
.kay/**
levin-spec.md

# Cache directories
.clj-kondo/**
.lsp/**
.levin/**

# Build artifacts
*.vsix
